# ==========================================
# SECRETS (Rahasia)
# ==========================================

# Gunakan \n (tanpa spasi) untuk menyambung baris baru jika Anda menulisnya 1 baris
# ATAU biarkan multiline asalkan memakai tanda kutip
SSH_KEY="-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACBEAxxx...
-----END OPENSSH PRIVATE KEY-----"

VPS_HOST=123.456.78.9
GHCR_TOKEN=ghp_tokenAndaDiSini

# ==========================================
# VARIABLES (Konfigurasi)
# ==========================================
API_BASE_URL=https://api.domainanda.com
FRONTEND_THEME=dark
