# ==========================================
# SECRETS (Backend & Frontend Server)
# ==========================================

# Gunakan \n (tanpa spasi) untuk menyambung baris baru jika Anda menulisnya 1 baris
# ATAU biarkan multiline asalkan memakai tanda kutip
SSH_KEY="-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACBEAxxx...
-----END OPENSSH PRIVATE KEY-----"

VPS_HOST=123.456.78.9
GHCR_TOKEN=ghp_tokenAndaDiSini

# ==========================================
# SECRETS (Flutter Android)
# ==========================================
ANDROID_KEYSTORE_BASE64=isi_base64_upload_keystore_jks_disini
ANDROID_KEYSTORE_PASSWORD=password_keystore_anda
ANDROID_KEY_ALIAS=upload
ANDROID_KEY_PASSWORD=password_key_anda
PLAY_STORE_SERVICE_ACCOUNT_JSON='{"type":"service_account","project_id":"..."}'

# ==========================================
# SECRETS (Flutter iOS)
# ==========================================
APPLE_CERTIFICATE_BASE64=isi_base64_certificates_p12_disini
APPLE_CERTIFICATE_PASSWORD=password_p12_anda
APPLE_PROVISIONING_PROFILE_BASE64=isi_base64_profile_mobileprovision_disini
APP_STORE_CONNECT_API_KEY_BASE64=isi_base64_atau_konten_authkey_p8_disini
APP_STORE_CONNECT_KEY_ID=ABC1234XYZ
APP_STORE_CONNECT_ISSUER_ID=00000000-0000-0000-0000-000000000000

# ==========================================
# VARIABLES (Konfigurasi)
# ==========================================
API_BASE_URL=https://api.domainanda.com
FRONTEND_THEME=dark

